<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="#">Link</a>
        </li>
        <ng-container *ngFor="let item of dynamicMenu.items">
           <li class="nav-item dropdown"  *ngFor="let menu of item.subItems">
              <a *ngIf="menu.subItems2.length === 0" class="nav-link" href="#">{{menu.subname}}</a>
              <a *ngIf="menu.subItems2.length > 0" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{menu.subname}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <ng-container *ngFor="let submenu of menu.subItems2">
                    <a  class="nav-link" href="#" *ngIf="submenu.subItems3.length === 0">{{submenu.subname2}}</a>
                    <a  class="nav-link dropdown-submenu dropdown-toggle" href="#"  *ngIf="submenu.subItems3.length > 0">
                       {{submenu.subname2}}
                       <ul class="dropdown-menu">
                    <a class="nav-link" href="#" *ngFor="let menuitem of submenu.subItems3">{{menuitem.subname3}}</a>
                    </ul>
                    </a>
                 </ng-container>
              </div>
           </li>
        </ng-container>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-success" (click)="saveChanges()">Save changes</button>
     </form>
  </div>
</nav>


<!-- Form to Create Dyanmic Menu -->
<form [formGroup]="dynamicMenuForm" class="menu-form">
 
  <div formArrayName="items" *ngFor="let item of formControls; let idx = index;" >
     <div [formGroupName]="idx">
       <!-- First Level Submenu -->
        <div  formArrayName="subItems" *ngFor="let subItem of item.controls.subItems.controls; let subIdx = index;">
           <div [formGroupName]="subIdx">
              <div class="d-flex default-border">
                 <input  class="form-control" formControlName="subname" placeholder="Item name">
                 <button class="btn btn-default mx-2" (click)="addSubItems2(item,subIdx)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                 <button class="btn btn-default" (click)="removeItem(item,subIdx)"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
              <!-- Second Level SubMenu -->
              <div class="pl-10" formArrayName="subItems2"
                 *ngFor="let subItem33 of subItem.controls.subItems2.controls; let subIdx3 = index;">
                 <div [formGroupName]="subIdx3">
                    <div class="d-flex default-border">
                       <input  class="form-control" formControlName="subname2" placeholder="Submenu Name">
                       <button class="btn btn-default mx-2" (click)="addSubItems3(subItem,subIdx3)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                       <button class="btn btn-default" (click)="removeItem2(subItem,subIdx3)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                    <!-- Third Level SubMenu -->
                    <div  class="pl-10" formArrayName="subItems3"
                       *ngFor="let subItem4 of subItem33.controls.subItems3.controls; let subIdx4 = index;">
                       <div [formGroupName]="subIdx4">
                          <div class="d-flex default-border ml-3">
                             <input class="form-control" formControlName="subname3" placeholder="Submenu Name">
                             <button class="btn btn-default ml-2" (click)="removeItem3(subItem33,subIdx4)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>

        <!-- First Level Menu -->
        <div class="d-flex default-border">
           <input class="form-control" formControlName="name" placeholder="Add New Menu">
           <button class="btn btn-default ml-2" (click)="addSubItems(item,idx)">Save</button>
        </div>
     </div>
  </div>
</form>

<pre>{{dynamicMenu | json}}</pre>